# Build output
build/
*.iso
*.img

# Compiled binaries (userspace)
userspace/coreutils/ls
userspace/coreutils/cat
userspace/coreutils/cp
userspace/coreutils/mv
userspace/coreutils/rm
userspace/coreutils/mkdir
userspace/coreutils/echo
userspace/coreutils/pwd
userspace/coreutils/hostname
userspace/coreutils/uname
userspace/coreutils/ps
userspace/coreutils/kill
userspace/coreutils/head
userspace/coreutils/tail
userspace/coreutils/wc
userspace/coreutils/touch
userspace/coreutils/stat
userspace/coreutils/df
userspace/coreutils/mount
userspace/init/kindle
userspace/shell/pyre
userspace/login/login

# Compiled binaries (desktop)
desktop/wm/ash-wm
desktop/wm/ashwm
desktop/panel/ash-panel
desktop/panel/ashpanel
desktop/fileman/scroll
desktop/fileman/ashfileman
desktop/control/forge
desktop/control/ashcontrol
desktop/sessionmgr/sessionmgr

# Compiled binaries (tests)
tests/kernel/test_pmm
tests/kernel/test_vmm

# S language compiler and example binaries (build artifacts)
tools/s-lang/sc
tools/s-lang/examples/hello
tools/s-lang/examples/fibonacci
tools/s-lang/examples/kernel-demo
tools/s-lang/tests/test_sc

# Object files
*.o
*.a
*.so

# Kernel ELF
kernel/ember.elf
