set default=0
set timeout=5

menuentry "PhoenixOS" {
    multiboot2 /boot/ember.elf quiet
    boot
}

menuentry "PhoenixOS (serial debug)" {
    multiboot2 /boot/ember.elf console=serial debug
    boot
}

menuentry "PhoenixOS (safe mode)" {
    multiboot2 /boot/ember.elf safemode nodesktop
    boot
}
